
MONGODB_URI =

NEXT_PUBLIC_API_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

NEXTAUTH_SECRET =

AUTH_SECRET="changeMes"

INSTAGRAM_KEY= ADDME

# eSewa Test Configuration
NEXT_PUBLIC_ESEWA_PAYMENT_URL=https://uat.esewa.com.np/epay/main
NEXT_PUBLIC_ESEWA_MERCHANT_ID=EPAYTEST
ESEWA_VERIFY_URL=https://uat.esewa.com.np/epay/transrec
ESEWA_MERCHANT_ID=EPAYTEST

# PINATA_API_KEY = 342d9e0d8b83723bf69e
# PINATA_API_SECRET = d1aca3b99f0c93653eb7b09f5474018834fbe94a63246184eb96fbcdb4830154
# PINATA_SECRET_JWT= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJiZDVjMTE1Zi03OGZhLTQ1ZWEtYWI5ZS0zZTQ0ZjNlMDc4NmYiLCJlbWFpbCI6InBpeXVzaC54dGhhN0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMzQyZDllMGQ4YjgzNzIzYmY2OWUiLCJzY29wZWRLZXlTZWNyZXQiOiJkMWFjYTNiOTlmMGM5MzY1M2ViN2IwOWY1NDc0MDE4ODM0ZmJlOTRhNjMyNDYxODRlYjk2ZmJjZGI0ODMwMTU0IiwiZXhwIjoxNzY1NDM5NDI0fQ.FNJYffc_5jsmtiz8GxLkdbAyzQWRzC0Z187-mdHzpWk
# NEXT_PUBLIC_GATEWAY_URL=coral-gigantic-flyingfish-607.mypinata.cloud